apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-app
  template:
    metadata:
      labels:
        app: auth-app
    spec:
      containers:
        - name: auth-app
          image: findoc/auth-app:latest
          imagePullPolicy: Never 
          ports:
            - containerPort: 8000
          env:
            - name: DB_NAME
              value: "findoc"
            - name: POSTGRES_USERNAME
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "1234"
            - name: DB_HOST
              value: "auth-db-service" # Updated to match the new service name
            - name: DB_PORT
              value: "5432"